@model ECommerceApp.Models.User

@{
    ViewData ["Title"] = "Create User";
}

<h2>Create Product</h2>

<hr/>

<form asp-action="Create" method="post">

    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control">
        <span asp-validation-for="FirstName"></span>
    </div>

    <br />
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control"></input>
        <span asp-validation-for="LastName"></span>
    </div>

    <br />
    <div class="form-group d-flex justify-content-between align-items-center">
        <a asp-action="Index" class="btn btn-outline-secondary">
            Back
        </a>
        <div class="d-flex gap-2">
            <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>

</form>